USE [master]
GO
/****** Object:  Database [DbSaiKitchen]    Script Date: 27/04/2021 12:54:29 PM ******/
CREATE DATABASE [DbSaiKitchen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSaiKitchen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbSaiKitchen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbSaiKitchen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbSaiKitchen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSaiKitchen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSaiKitchen]
GO
/****** Object:  Table [dbo].[Accesories]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accesories](
	[AccesoriesId] [int] IDENTITY(1,1) NOT NULL,
	[WardrobeDesignInfoId] [int] NULL,
	[AccesoriesName] [nvarchar](500) NULL,
	[AccesoriesValue] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Accesories] PRIMARY KEY CLUSTERED 
(
	[AccesoriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appliances]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appliances](
	[AppliancesId] [int] IDENTITY(1,1) NOT NULL,
	[KitchenDesignInfoId] [int] NULL,
	[AppliancesName] [nvarchar](50) NULL,
	[AppliancesValue] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Appliances] PRIMARY KEY CLUSTERED 
(
	[AppliancesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](50) NULL,
	[BranchAddress] [nvarchar](500) NULL,
	[BranchContact] [nvarchar](50) NULL,
	[BranchTypeId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_branch] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchRole]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchRole](
	[BranchRoleId] [int] IDENTITY(1,1) NOT NULL,
	[BranchRoleName] [nvarchar](50) NULL,
	[BranchRoleDescription] [nvarchar](500) NULL,
	[RoleTypeId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_BranchRole] PRIMARY KEY CLUSTERED 
(
	[BranchRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchType]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchType](
	[BranchTypeId] [int] NOT NULL,
	[BranchTypeName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_BranchType] PRIMARY KEY CLUSTERED 
(
	[BranchTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Building]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[BuildingId] [int] IDENTITY(1,1) NOT NULL,
	[BuildingAddress] [nvarchar](500) NULL,
	[BuildingTypeOfUnit] [nvarchar](500) NULL,
	[BuildingCondition] [nvarchar](500) NULL,
	[BuildingFloor] [nvarchar](500) NULL,
	[BuildingReconstruction] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_bUILDING] PRIMARY KEY CLUSTERED 
(
	[BuildingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactStatus]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactStatus](
	[ContactStatusId] [int] NOT NULL,
	[ContactStatusName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_ContactStatus] PRIMARY KEY CLUSTERED 
(
	[ContactStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerEmail] [nvarchar](50) NULL,
	[CustomerContact] [nvarchar](50) NULL,
	[CustomerAddress] [nvarchar](max) NULL,
	[CustomerCity] [nvarchar](50) NULL,
	[CustomerCountry] [nvarchar](50) NULL,
	[CustomerNationality] [nvarchar](50) NULL,
	[CustomerNationalId] [nvarchar](500) NULL,
	[ContactStatusId] [int] NULL,
	[WayofContactId] [int] NULL,
	[BranchId] [int] NULL,
	[UserId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsEscalationRequested] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerBranch]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerBranch](
	[CustomerBranchId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[BranchId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_CustomerBranch] PRIMARY KEY CLUSTERED 
(
	[CustomerBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[FeesId] [int] IDENTITY(1,1) NOT NULL,
	[FeesName] [nvarchar](500) NULL,
	[FeesDescription] [nvarchar](500) NULL,
	[FeesAmount] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Fees] PRIMARY KEY CLUSTERED 
(
	[FeesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inquiry]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiry](
	[InquiryId] [int] IDENTITY(1,1) NOT NULL,
	[InquiryCode] [nvarchar](4000) NULL,
	[InquiryName] [nvarchar](500) NULL,
	[InquiryDescription] [nvarchar](500) NULL,
	[InquiryStartDate] [nvarchar](50) NULL,
	[InquiryDueDate] [nvarchar](50) NULL,
	[InquiryEndDate] [nvarchar](50) NULL,
	[CustomerId] [int] NULL,
	[BranchId] [int] NULL,
	[BuildingId] [int] NULL,
	[IsEscalationRequested] [bit] NULL,
	[AddedBy] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Inquiry] PRIMARY KEY CLUSTERED 
(
	[InquiryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InquiryStatus]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InquiryStatus](
	[InquiryStatusId] [int] NOT NULL,
	[InquiryStatusName] [nvarchar](500) NULL,
	[InquiryStatusDescription] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_InquiryStatus] PRIMARY KEY CLUSTERED 
(
	[InquiryStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InquiryWorkscope]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InquiryWorkscope](
	[InquiryWorkscopeId] [int] IDENTITY(1,1) NOT NULL,
	[InquiryId] [int] NULL,
	[WorkscopeId] [int] NULL,
	[MeasurementAssignedTo] [int] NULL,
	[DesignAssignedTo] [int] NULL,
	[InquiryStatusId] [int] NULL,
	[MeasurementScheduleDate] [nvarchar](50) NULL,
	[DesignScheduleDate] [nvarchar](50) NULL,
	[IsDesignApproved] [bit] NULL,
	[Comments] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_InquiryMeasurement] PRIMARY KEY CLUSTERED 
(
	[InquiryWorkscopeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitchenDesignInfo]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitchenDesignInfo](
	[KDIId] [int] IDENTITY(1,1) NOT NULL,
	[KDIKitchenType] [nvarchar](50) NULL,
	[KDIBoardModel] [nvarchar](50) NULL,
	[KDISelectedColor] [nvarchar](50) NULL,
	[KDIBaseUnitHeight] [nvarchar](50) NULL,
	[KDIWallUnitHeight] [nvarchar](50) NULL,
	[KDIWorktop] [nvarchar](50) NULL,
	[KDINotes] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_KitchenDesignInfo] PRIMARY KEY CLUSTERED 
(
	[KDIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NULL,
	[Level] [nvarchar](128) NULL,
	[TimeStamp] [datetimeoffset](7) NOT NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [xml] NULL,
	[LogEvent] [nvarchar](max) NULL,
	[UserName] [nvarchar](200) NULL,
	[IP] [varchar](200) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurement]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement](
	[MeasurementId] [int] IDENTITY(1,1) NOT NULL,
	[MeasurementName] [nvarchar](500) NULL,
	[MeasurementDescription] [nvarchar](500) NULL,
	[MeasurementStatusId] [int] NULL,
	[MeasurementComment] [nvarchar](500) NULL,
	[FeesId] [int] NULL,
	[MeasurementFile] [image] NULL,
	[MeasurementFileURL] [nvarchar](500) NULL,
	[InquiryWorkscopeId] [int] NULL,
	[MeasurementTakenBy] [int] NULL,
	[KitchenDesignInfoId] [int] NULL,
	[WardrobeDesignInfoId] [int] NULL,
	[IsMeasurementApproved] [bit] NULL,
	[MeasurementApprovedBy] [int] NULL,
	[MeasurementApprovedOn] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Measurement] PRIMARY KEY CLUSTERED 
(
	[MeasurementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementDetail]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementDetail](
	[MeasurementDetailId] [int] IDENTITY(1,1) NOT NULL,
	[MeasurementId] [int] NULL,
	[MeasurementDetailName] [nvarchar](500) NULL,
	[MeasurementDetailDescription] [nvarchar](500) NULL,
	[MeasurementDetailCeilingHeight] [nvarchar](50) NULL,
	[MeasurementDetailCielingDiameter] [nvarchar](50) NULL,
	[MeasurementDetailCornishHeight] [nvarchar](50) NULL,
	[MeasurementDetailCornishDiameter] [nvarchar](50) NULL,
	[MeasurementDetailSkirtingHeight] [nvarchar](50) NULL,
	[MeasurementDetailSkirtingDiameter] [nvarchar](50) NULL,
	[MeasurementDetailPlinthHeight] [nvarchar](50) NULL,
	[MeasurementDetailPlinthDiameter] [nvarchar](50) NULL,
	[MeasurementDetailDoorHeight] [nvarchar](50) NULL,
	[MeasurementDetailSpotLightFromWall] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_MeasurementDetail] PRIMARY KEY CLUSTERED 
(
	[MeasurementDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementDetailInfo]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementDetailInfo](
	[MeasurementDetailInfoId] [int] IDENTITY(1,1) NOT NULL,
	[MeasurementDetailInfoName] [nvarchar](50) NULL,
	[MeasurementDetailInfoDistanceHeight] [nvarchar](50) NULL,
	[MeasurementDetailInfoDistanceLL] [nvarchar](50) NULL,
	[MeasurementDetailInfoDistanceRR] [nvarchar](50) NULL,
	[MeasurementDetailInfoDistanceHFF] [nvarchar](50) NULL,
	[MeasurementDetailId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_MeasurementDetailInfo] PRIMARY KEY CLUSTERED 
(
	[MeasurementDetailInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationContent] [nvarchar](500) NULL,
	[NotificationCategoryId] [int] NULL,
	[IsActionable] [bit] NULL,
	[NotificationAcceptAction] [nvarchar](500) NULL,
	[NotificationDeclineAction] [nvarchar](500) NULL,
	[UserId] [int] NULL,
	[BranchId] [int] NULL,
	[UserRoleId] [int] NULL,
	[IsRead] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationCategory]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationCategory](
	[NotificationCategoryId] [int] NOT NULL,
	[NotificationCategoryName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_NotificationCateory] PRIMARY KEY CLUSTERED 
(
	[NotificationCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionId] [int] NOT NULL,
	[PermissionName] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_BranchPermission] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionLevel]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionLevel](
	[PermissionLevelId] [int] NOT NULL,
	[PermissionLevelName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_PermissionLevel] PRIMARY KEY CLUSTERED 
(
	[PermissionLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionRole]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionRole](
	[PermissionRoleId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionId] [int] NULL,
	[BranchRoleId] [int] NULL,
	[PermissionLevelId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_PermissionRole] PRIMARY KEY CLUSTERED 
(
	[PermissionRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleHead]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleHead](
	[RoleHeadId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeRoleId] [int] NULL,
	[HeadRoleId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_RoleHead] PRIMARY KEY CLUSTERED 
(
	[RoleHeadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleType]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleType](
	[RoleTypeId] [int] NOT NULL,
	[RoleTypeName] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_RoleType] PRIMARY KEY CLUSTERED 
(
	[RoleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserEmail] [nvarchar](50) NULL,
	[UserPassword] [nvarchar](50) NULL,
	[UserMobile] [nvarchar](50) NULL,
	[UserToken] [nvarchar](500) NULL,
	[UserProfileImageURL] [nvarchar](500) NULL,
	[UserFCMToken] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[IsOnline] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[BranchId] [int] NULL,
	[BranchRoleId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdaredBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WardrobeDesignInformation]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WardrobeDesignInformation](
	[WDIId] [int] IDENTITY(1,1) NOT NULL,
	[WDIClosetType] [nvarchar](50) NULL,
	[WDIBoardModel] [nvarchar](50) NULL,
	[WDISelectedColor] [nvarchar](50) NULL,
	[WDICeilingHeight] [nvarchar](50) NULL,
	[WDIClosetHeight] [nvarchar](50) NULL,
	[WDIStorageDoor] [bit] NULL,
	[WDIDoorDesign] [nvarchar](50) NULL,
	[WDIHandleDesign] [nvarchar](50) NULL,
	[WDIDoorMaterial] [nvarchar](50) NULL,
	[WDINotes] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_WardrobeDesignInformation] PRIMARY KEY CLUSTERED 
(
	[WDIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WayOfContact]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WayOfContact](
	[WayOfContactId] [int] NOT NULL,
	[WayOfContactName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_WayOfContact] PRIMARY KEY CLUSTERED 
(
	[WayOfContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkScope]    Script Date: 27/04/2021 12:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkScope](
	[WorkScopeId] [int] IDENTITY(1,1) NOT NULL,
	[WorkScopeName] [nvarchar](500) NULL,
	[WorkScopeDescription] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_WorkScope] PRIMARY KEY CLUSTERED 
(
	[WorkScopeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([BranchId], [BranchName], [BranchAddress], [BranchContact], [BranchTypeId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Head Office', N'Arjan-Dubai', N'+97145514553', 1, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Branch] ([BranchId], [BranchName], [BranchAddress], [BranchContact], [BranchTypeId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Sakamkam', N'Sakamkam Fujairah', N'+971506671659', 2, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Branch] ([BranchId], [BranchName], [BranchAddress], [BranchContact], [BranchTypeId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Umm Deira', N'Umm Al Quwain', N'+97145514553', 3, 1, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[BranchRole] ON 

INSERT [dbo].[BranchRole] ([BranchRoleId], [BranchRoleName], [BranchRoleDescription], [RoleTypeId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (1, N'Head Manager', N'All access of one branch', 1, NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[BranchRole] ([BranchRoleId], [BranchRoleName], [BranchRoleDescription], [RoleTypeId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (14, N'Procurement Manager', N'Procurement access', 5, NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[BranchRole] ([BranchRoleId], [BranchRoleName], [BranchRoleDescription], [RoleTypeId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (15, N'Sales Manager', N'Sales related stuff', 3, NULL, NULL, NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[BranchRole] OFF
GO
INSERT [dbo].[BranchType] ([BranchTypeId], [BranchTypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Head Office', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[BranchType] ([BranchTypeId], [BranchTypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Showroom', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[BranchType] ([BranchTypeId], [BranchTypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Factory', 1, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Building] ON 

INSERT [dbo].[Building] ([BuildingId], [BuildingAddress], [BuildingTypeOfUnit], [BuildingCondition], [BuildingFloor], [BuildingReconstruction], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'', N'Building', N'Old', N'1,2,3,4', 0, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Building] ([BuildingId], [BuildingAddress], [BuildingTypeOfUnit], [BuildingCondition], [BuildingFloor], [BuildingReconstruction], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'test', N'Building', N'Old', N'1,2,4', 1, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Building] ([BuildingId], [BuildingAddress], [BuildingTypeOfUnit], [BuildingCondition], [BuildingFloor], [BuildingReconstruction], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Dubai', N'Building', N'Old', N'1,2,3,4', 0, 1, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Building] OFF
GO
INSERT [dbo].[ContactStatus] ([ContactStatusId], [ContactStatusName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Contacted', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[ContactStatus] ([ContactStatusId], [ContactStatusName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Need to Contact', 1, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CustomerEmail], [CustomerContact], [CustomerAddress], [CustomerCity], [CustomerCountry], [CustomerNationality], [CustomerNationalId], [ContactStatusId], [WayofContactId], [BranchId], [UserId], [IsActive], [IsEscalationRequested], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Sameer', N'sameer71095@gmail.com', N'971545552471', N'Dubai Internet City', N'Dubai, Dubai, United Arab Emirates', N'United Arab Emirates', N'Pakistan', N'78416255', 1, 2, 2, 2, 1, 0, 0, NULL, NULL, 2, N'12/04/2021 11:53:37')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Inquiry] ON 

INSERT [dbo].[Inquiry] ([InquiryId], [InquiryCode], [InquiryName], [InquiryDescription], [InquiryStartDate], [InquiryDueDate], [InquiryEndDate], [CustomerId], [BranchId], [BuildingId], [IsEscalationRequested], [AddedBy], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, NULL, N'', N'tes', NULL, NULL, NULL, 3, 2, 3, 0, NULL, 1, 1, 2, N'14/04/2021 09:56:57', NULL, NULL)
INSERT [dbo].[Inquiry] ([InquiryId], [InquiryCode], [InquiryName], [InquiryDescription], [InquiryStartDate], [InquiryDueDate], [InquiryEndDate], [CustomerId], [BranchId], [BuildingId], [IsEscalationRequested], [AddedBy], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, NULL, N'', N'', NULL, NULL, NULL, 4, 2, 4, 0, NULL, 1, 1, 2, N'14/04/2021 10:01:45', NULL, NULL)
INSERT [dbo].[Inquiry] ([InquiryId], [InquiryCode], [InquiryName], [InquiryDescription], [InquiryStartDate], [InquiryDueDate], [InquiryEndDate], [CustomerId], [BranchId], [BuildingId], [IsEscalationRequested], [AddedBy], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (5, NULL, N'', N'', N'04/14/2021 01:31 PM', NULL, NULL, 3, 2, 5, 0, NULL, 1, 0, 2, N'04/14/2021 01:31 PM', 2, N'04/14/2021 01:31 PM')
SET IDENTITY_INSERT [dbo].[Inquiry] OFF
GO
INSERT [dbo].[InquiryStatus] ([InquiryStatusId], [InquiryStatusName], [InquiryStatusDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Measurement Pending', NULL, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[InquiryStatus] ([InquiryStatusId], [InquiryStatusName], [InquiryStatusDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Measurement Delayed', NULL, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[InquiryStatus] ([InquiryStatusId], [InquiryStatusName], [InquiryStatusDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Design Pending', NULL, 1, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[InquiryWorkscope] ON 

INSERT [dbo].[InquiryWorkscope] ([InquiryWorkscopeId], [InquiryId], [WorkscopeId], [MeasurementAssignedTo], [DesignAssignedTo], [InquiryStatusId], [MeasurementScheduleDate], [DesignScheduleDate], [IsDesignApproved], [Comments], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, 4, 1, NULL, NULL, 1, N'04/27/2021 10:01 AM', NULL, NULL, NULL, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[InquiryWorkscope] ([InquiryWorkscopeId], [InquiryId], [WorkscopeId], [MeasurementAssignedTo], [DesignAssignedTo], [InquiryStatusId], [MeasurementScheduleDate], [DesignScheduleDate], [IsDesignApproved], [Comments], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, 4, 2, NULL, NULL, 2, N'04/27/2021 10:01 AM', NULL, NULL, NULL, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[InquiryWorkscope] ([InquiryWorkscopeId], [InquiryId], [WorkscopeId], [MeasurementAssignedTo], [DesignAssignedTo], [InquiryStatusId], [MeasurementScheduleDate], [DesignScheduleDate], [IsDesignApproved], [Comments], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, 5, 1, 30, 30, 3, N'04/14/2021 1:31 PM', N'04/14/2021 1:31 PM', NULL, NULL, 1, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[InquiryWorkscope] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties], [LogEvent], [UserName], [IP]) VALUES (4, N'Error: UserId=2 Error=The LINQ expression ''DbSet<UserRole>()
    .Where(u => __inquiry_AddedByNavigation_UserRoles_0
        .Where(y => y.UserRoleId == u.UserRoleId)
        .Any() && u.IsActive == (Nullable<bool>)True && u.IsDeleted == (Nullable<bool>)False)'' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information. System.InvalidOperationException: The LINQ expression ''DbSet<UserRole>()
    .Where(u => __inquiry_AddedByNavigation_UserRoles_0
        .Where(y => y.UserRoleId == u.UserRoleId)
        .Any() && u.IsActive == (Nullable<bool>)True && u.IsDeleted == (Nullable<bool>)False)'' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information.
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.<VisitMethodCall>g__CheckTranslated|15_0(ShapedQueryExpression translated, <>c__DisplayClass15_0& )
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryCompilationContext.CreateQueryExecutor[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Storage.Database.CompileQuery[TResult](Expression query, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.CompileQueryCore[TResult](IDatabase database, Expression query, IModel model, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.<>c__DisplayClass9_0`1.<Execute>b__0()
   at Microsoft.EntityFrameworkCore.Query.Internal.CompiledQueryCache.GetOrAddQuery[TResult](Object cacheKey, Func`1 compiler)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.Execute[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1.GetEnumerator()
   at Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions.IncludableQueryable`2.GetEnumerator()
   at System.Collections.Generic.List`1..ctor(IEnumerable`1 collection)
   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at SaiKitchenBackend.Controllers.InquiryController.UpdateInquiryScheduleDate(UpdateInquirySchedule updateInquirySchedule) in D:\SAI Kitchen\BackendSaiKitchen\BackendSaiKitchen\Controllers\InquiryController.cs:line 290', N'Error: UserId=2 Error=The LINQ expression ''DbSet<UserRole>()
    .Where(u => __inquiry_AddedByNavigation_UserRoles_0
        .Where(y => y.UserRoleId == u.UserRoleId)
        .Any() && u.IsActive == (Nullable<bool>)True && u.IsDeleted == (Nullable<bool>)False)'' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information. System.InvalidOperationException: The LINQ expression ''DbSet<UserRole>()
    .Where(u => __inquiry_AddedByNavigation_UserRoles_0
        .Where(y => y.UserRoleId == u.UserRoleId)
        .Any() && u.IsActive == (Nullable<bool>)True && u.IsDeleted == (Nullable<bool>)False)'' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information.
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.<VisitMethodCall>g__CheckTranslated|15_0(ShapedQueryExpression translated, <>c__DisplayClass15_0& )
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryCompilationContext.CreateQueryExecutor[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Storage.Database.CompileQuery[TResult](Expression query, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.CompileQueryCore[TResult](IDatabase database, Expression query, IModel model, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.<>c__DisplayClass9_0`1.<Execute>b__0()
   at Microsoft.EntityFrameworkCore.Query.Internal.CompiledQueryCache.GetOrAddQuery[TResult](Object cacheKey, Func`1 compiler)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.Execute[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1.GetEnumerator()
   at Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions.IncludableQueryable`2.GetEnumerator()
   at System.Collections.Generic.List`1..ctor(IEnumerable`1 collection)
   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at SaiKitchenBackend.Controllers.InquiryController.UpdateInquiryScheduleDate(UpdateInquirySchedule updateInquirySchedule) in D:\SAI Kitchen\BackendSaiKitchen\BackendSaiKitchen\Controllers\InquiryController.cs:line 290', N'Error', CAST(N'2021-04-26T09:55:11.1249782+04:00' AS DateTimeOffset), NULL, N'<properties><property key="Username">Guest</property></properties>', NULL, NULL, NULL)
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties], [LogEvent], [UserName], [IP]) VALUES (5, N'Error: UserId=2 Error=The LINQ expression ''DbSet<UserRole>()
    .Where(u => __inquiry_AddedByNavigation_UserRoles_0
        .Where(y => y.UserRoleId == u.UserRoleId)
        .Any() && u.IsActive == (Nullable<bool>)True && u.IsDeleted == (Nullable<bool>)False)'' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information. System.InvalidOperationException: The LINQ expression ''DbSet<UserRole>()
    .Where(u => __inquiry_AddedByNavigation_UserRoles_0
        .Where(y => y.UserRoleId == u.UserRoleId)
        .Any() && u.IsActive == (Nullable<bool>)True && u.IsDeleted == (Nullable<bool>)False)'' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information.
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.<VisitMethodCall>g__CheckTranslated|15_0(ShapedQueryExpression translated, <>c__DisplayClass15_0& )
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryCompilationContext.CreateQueryExecutor[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Storage.Database.CompileQuery[TResult](Expression query, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.CompileQueryCore[TResult](IDatabase database, Expression query, IModel model, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.<>c__DisplayClass9_0`1.<Execute>b__0()
   at Microsoft.EntityFrameworkCore.Query.Internal.CompiledQueryCache.GetOrAddQuery[TResult](Object cacheKey, Func`1 compiler)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.Execute[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1.GetEnumerator()
   at Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions.IncludableQueryable`2.GetEnumerator()
   at System.Collections.Generic.List`1..ctor(IEnumerable`1 collection)
   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at SaiKitchenBackend.Controllers.InquiryController.UpdateInquiryScheduleDate(UpdateInquirySchedule updateInquirySchedule) in D:\SAI Kitchen\BackendSaiKitchen\BackendSaiKitchen\Controllers\InquiryController.cs:line 290', N'Error: UserId=2 Error=The LINQ expression ''DbSet<UserRole>()
    .Where(u => __inquiry_AddedByNavigation_UserRoles_0
        .Where(y => y.UserRoleId == u.UserRoleId)
        .Any() && u.IsActive == (Nullable<bool>)True && u.IsDeleted == (Nullable<bool>)False)'' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information. System.InvalidOperationException: The LINQ expression ''DbSet<UserRole>()
    .Where(u => __inquiry_AddedByNavigation_UserRoles_0
        .Where(y => y.UserRoleId == u.UserRoleId)
        .Any() && u.IsActive == (Nullable<bool>)True && u.IsDeleted == (Nullable<bool>)False)'' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information.
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.<VisitMethodCall>g__CheckTranslated|15_0(ShapedQueryExpression translated, <>c__DisplayClass15_0& )
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryCompilationContext.CreateQueryExecutor[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Storage.Database.CompileQuery[TResult](Expression query, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.CompileQueryCore[TResult](IDatabase database, Expression query, IModel model, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.<>c__DisplayClass9_0`1.<Execute>b__0()
   at Microsoft.EntityFrameworkCore.Query.Internal.CompiledQueryCache.GetOrAddQuery[TResult](Object cacheKey, Func`1 compiler)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.Execute[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1.GetEnumerator()
   at Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions.IncludableQueryable`2.GetEnumerator()
   at System.Collections.Generic.List`1..ctor(IEnumerable`1 collection)
   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at SaiKitchenBackend.Controllers.InquiryController.UpdateInquiryScheduleDate(UpdateInquirySchedule updateInquirySchedule) in D:\SAI Kitchen\BackendSaiKitchen\BackendSaiKitchen\Controllers\InquiryController.cs:line 290', N'Error', CAST(N'2021-04-26T13:58:28.8422088+04:00' AS DateTimeOffset), NULL, N'<properties><property key="Username">Guest</property></properties>', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationId], [NotificationContent], [NotificationCategoryId], [IsActionable], [NotificationAcceptAction], [NotificationDeclineAction], [UserId], [BranchId], [UserRoleId], [IsRead], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Customer 1 generated inquiry on another branch', NULL, 0, NULL, NULL, NULL, NULL, 35, 0, 1, 0, 0, N'04/15/2021 11:10 AM', 0, N'04/15/2021 11:10 AM')
INSERT [dbo].[Notification] ([NotificationId], [NotificationContent], [NotificationCategoryId], [IsActionable], [NotificationAcceptAction], [NotificationDeclineAction], [UserId], [BranchId], [UserRoleId], [IsRead], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Customer 1 generated inquiry on another branch', NULL, 0, NULL, NULL, NULL, NULL, 26, 0, 1, 0, 0, N'04/15/2021 11:15 AM', 0, N'04/15/2021 11:15 AM')
INSERT [dbo].[Notification] ([NotificationId], [NotificationContent], [NotificationCategoryId], [IsActionable], [NotificationAcceptAction], [NotificationDeclineAction], [UserId], [BranchId], [UserRoleId], [IsRead], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Customer 1 generated inquiry on another branch', NULL, 0, NULL, NULL, NULL, NULL, 26, 0, 1, 0, 0, N'04/15/2021 11:16 AM', 0, N'04/15/2021 11:16 AM')
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[NotificationCategory] ([NotificationCategoryId], [NotificationCategoryName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Inquiry', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[NotificationCategory] ([NotificationCategoryId], [NotificationCategoryName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Measurement', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[NotificationCategory] ([NotificationCategoryId], [NotificationCategoryName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Design', 1, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Permission] ([PermissionId], [PermissionName], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (1, N'All', NULL, NULL, NULL, NULL, 0, 1)
INSERT [dbo].[Permission] ([PermissionId], [PermissionName], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (2, N'Manage Branch', NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[Permission] ([PermissionId], [PermissionName], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (3, N'Manage Branch Role', NULL, NULL, NULL, NULL, 1, 0)
GO
INSERT [dbo].[PermissionLevel] ([PermissionLevelId], [PermissionLevelName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Read', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[PermissionLevel] ([PermissionLevelId], [PermissionLevelName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Create', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[PermissionLevel] ([PermissionLevelId], [PermissionLevelName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Update', 1, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PermissionRole] ON 

INSERT [dbo].[PermissionRole] ([PermissionRoleId], [PermissionId], [BranchRoleId], [PermissionLevelId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (1, 2, 1, 5, NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[PermissionRole] ([PermissionRoleId], [PermissionId], [BranchRoleId], [PermissionLevelId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (11, 4, 14, 5, NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[PermissionRole] ([PermissionRoleId], [PermissionId], [BranchRoleId], [PermissionLevelId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (12, 5, 15, 5, NULL, NULL, NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[PermissionRole] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleHead] ON 

INSERT [dbo].[RoleHead] ([RoleHeadId], [EmployeeRoleId], [HeadRoleId], [IsActive], [IsDeleted], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 14, 1, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[RoleHead] ([RoleHeadId], [EmployeeRoleId], [HeadRoleId], [IsActive], [IsDeleted], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, 15, 1, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[RoleHead] ([RoleHeadId], [EmployeeRoleId], [HeadRoleId], [IsActive], [IsDeleted], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (7, 33, 1, 1, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RoleHead] OFF
GO
INSERT [dbo].[RoleType] ([RoleTypeId], [RoleTypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Manager', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[RoleType] ([RoleTypeId], [RoleTypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Accounts', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[RoleType] ([RoleTypeId], [RoleTypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Sales', 1, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserName], [UserEmail], [UserPassword], [UserMobile], [UserToken], [UserProfileImageURL], [UserFCMToken], [IsActive], [IsDeleted], [IsOnline], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Info', N'info@sai-group.ae', N'Sai123456', N'0545552471', N'Mff2oemjBNlIHCylG0XiOE2yGDh/LiSAuQ==', NULL, N'clnzPiseo8nc01dTxr5dVZ:APA91bE7zCHpFoOCkAf1rg0_PmoSGXBlVvKZyo0_dcWINKseD-qC2X5ekutm9Se1Z2Exvf2s0LdC6tJDc8QTL2p-UizyDppMCuz05Jif6G4xqHu9Rjq-uoA__g4eRmrSoAGbt2XxrUW8', 1, 0, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [UserName], [UserEmail], [UserPassword], [UserMobile], [UserToken], [UserProfileImageURL], [UserFCMToken], [IsActive], [IsDeleted], [IsOnline], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'CEO', N'ceo@sai-group.ae', N'Sai123456', N'0555598849', N'MsA68rtUCdlIBZ5uhk1uwE6TSeWXfLmZ6w==', NULL, N'clnzPiseo8nc01dTxr5dVZ:APA91bE7zCHpFoOCkAf1rg0_PmoSGXBlVvKZyo0_dcWINKseD-qC2X5ekutm9Se1Z2Exvf2s0LdC6tJDc8QTL2p-UizyDppMCuz05Jif6G4xqHu9Rjq-uoA__g4eRmrSoAGbt2XxrUW8', 1, 0, 1, NULL, NULL, 0, N'31/03/2021 09:10:27')
INSERT [dbo].[User] ([UserId], [UserName], [UserEmail], [UserPassword], [UserMobile], [UserToken], [UserProfileImageURL], [UserFCMToken], [IsActive], [IsDeleted], [IsOnline], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (21, N'Sameer', N'sameer71095@gmail.com', N'Sai123456', N'971545552471', N'MjH8OlEFDvjYSBNPPrsNqvROscfQZP9j3ks=', NULL, NULL, 0, 1, 0, 0, N'31/03/2021 14:39:23', 0, N'08/04/2021 10:32:33')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [BranchId], [BranchRoleId], [CreatedBy], [CreatedDate], [UpdaredBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (1, 1, 2, 15, NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [BranchId], [BranchRoleId], [CreatedBy], [CreatedDate], [UpdaredBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (5, 2, 1, 23, NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [BranchId], [BranchRoleId], [CreatedBy], [CreatedDate], [UpdaredBy], [UpdatedDate], [IsActive], [IsDeleted]) VALUES (24, 21, 2, 14, NULL, NULL, NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
INSERT [dbo].[WayOfContact] ([WayOfContactId], [WayOfContactName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Direct', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[WayOfContact] ([WayOfContactId], [WayOfContactName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Google', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[WayOfContact] ([WayOfContactId], [WayOfContactName], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Facebook', 1, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[WorkScope] ON 

INSERT [dbo].[WorkScope] ([WorkScopeId], [WorkScopeName], [WorkScopeDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Kitchen', NULL, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[WorkScope] ([WorkScopeId], [WorkScopeName], [WorkScopeDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Wardrobe', NULL, 1, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[WorkScope] OFF
GO
ALTER TABLE [dbo].[PermissionRole] ADD  CONSTRAINT [DF_PermissionRole_IsActive]  DEFAULT ('true') FOR [IsActive]
GO
ALTER TABLE [dbo].[PermissionRole] ADD  CONSTRAINT [DF_PermissionRole_IsDeleted]  DEFAULT ('false') FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Accesories]  WITH CHECK ADD  CONSTRAINT [FK_Accesories_WardrobeDesignInformation] FOREIGN KEY([WardrobeDesignInfoId])
REFERENCES [dbo].[WardrobeDesignInformation] ([WDIId])
GO
ALTER TABLE [dbo].[Accesories] CHECK CONSTRAINT [FK_Accesories_WardrobeDesignInformation]
GO
ALTER TABLE [dbo].[Appliances]  WITH CHECK ADD  CONSTRAINT [FK_Appliances_KitchenDesignInfo] FOREIGN KEY([KitchenDesignInfoId])
REFERENCES [dbo].[KitchenDesignInfo] ([KDIId])
GO
ALTER TABLE [dbo].[Appliances] CHECK CONSTRAINT [FK_Appliances_KitchenDesignInfo]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_BranchType] FOREIGN KEY([BranchTypeId])
REFERENCES [dbo].[BranchType] ([BranchTypeId])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_BranchType]
GO
ALTER TABLE [dbo].[BranchRole]  WITH CHECK ADD  CONSTRAINT [FK_BranchRole_RoleType] FOREIGN KEY([RoleTypeId])
REFERENCES [dbo].[RoleType] ([RoleTypeId])
GO
ALTER TABLE [dbo].[BranchRole] CHECK CONSTRAINT [FK_BranchRole_RoleType]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Branch]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_ContactStatus] FOREIGN KEY([ContactStatusId])
REFERENCES [dbo].[ContactStatus] ([ContactStatusId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_ContactStatus]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_WayOfContact] FOREIGN KEY([WayofContactId])
REFERENCES [dbo].[WayOfContact] ([WayOfContactId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_WayOfContact]
GO
ALTER TABLE [dbo].[CustomerBranch]  WITH CHECK ADD  CONSTRAINT [FK_CustomerBranch_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
GO
ALTER TABLE [dbo].[CustomerBranch] CHECK CONSTRAINT [FK_CustomerBranch_Branch]
GO
ALTER TABLE [dbo].[CustomerBranch]  WITH CHECK ADD  CONSTRAINT [FK_CustomerBranch_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerBranch] CHECK CONSTRAINT [FK_CustomerBranch_Customer]
GO
ALTER TABLE [dbo].[Inquiry]  WITH CHECK ADD  CONSTRAINT [FK_Inquiry_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
GO
ALTER TABLE [dbo].[Inquiry] CHECK CONSTRAINT [FK_Inquiry_Branch]
GO
ALTER TABLE [dbo].[Inquiry]  WITH CHECK ADD  CONSTRAINT [FK_Inquiry_bUILDING] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[Building] ([BuildingId])
GO
ALTER TABLE [dbo].[Inquiry] CHECK CONSTRAINT [FK_Inquiry_bUILDING]
GO
ALTER TABLE [dbo].[Inquiry]  WITH CHECK ADD  CONSTRAINT [FK_Inquiry_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Inquiry] CHECK CONSTRAINT [FK_Inquiry_Customer]
GO
ALTER TABLE [dbo].[Inquiry]  WITH CHECK ADD  CONSTRAINT [FK_Inquiry_User] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Inquiry] CHECK CONSTRAINT [FK_Inquiry_User]
GO
ALTER TABLE [dbo].[InquiryWorkscope]  WITH CHECK ADD  CONSTRAINT [FK_InquiryMeasurement_Inquiry] FOREIGN KEY([InquiryId])
REFERENCES [dbo].[Inquiry] ([InquiryId])
GO
ALTER TABLE [dbo].[InquiryWorkscope] CHECK CONSTRAINT [FK_InquiryMeasurement_Inquiry]
GO
ALTER TABLE [dbo].[InquiryWorkscope]  WITH CHECK ADD  CONSTRAINT [FK_InquiryMeasurement_WorkScope] FOREIGN KEY([WorkscopeId])
REFERENCES [dbo].[WorkScope] ([WorkScopeId])
GO
ALTER TABLE [dbo].[InquiryWorkscope] CHECK CONSTRAINT [FK_InquiryMeasurement_WorkScope]
GO
ALTER TABLE [dbo].[InquiryWorkscope]  WITH CHECK ADD  CONSTRAINT [FK_InquiryWorkscope_InquiryStatus] FOREIGN KEY([InquiryStatusId])
REFERENCES [dbo].[InquiryStatus] ([InquiryStatusId])
GO
ALTER TABLE [dbo].[InquiryWorkscope] CHECK CONSTRAINT [FK_InquiryWorkscope_InquiryStatus]
GO
ALTER TABLE [dbo].[InquiryWorkscope]  WITH CHECK ADD  CONSTRAINT [FK_InquiryWorkscope_User] FOREIGN KEY([MeasurementAssignedTo])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[InquiryWorkscope] CHECK CONSTRAINT [FK_InquiryWorkscope_User]
GO
ALTER TABLE [dbo].[InquiryWorkscope]  WITH CHECK ADD  CONSTRAINT [FK_InquiryWorkscope_User1] FOREIGN KEY([DesignAssignedTo])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[InquiryWorkscope] CHECK CONSTRAINT [FK_InquiryWorkscope_User1]
GO
ALTER TABLE [dbo].[Measurement]  WITH CHECK ADD  CONSTRAINT [FK_Measurement_Fees] FOREIGN KEY([FeesId])
REFERENCES [dbo].[Fees] ([FeesId])
GO
ALTER TABLE [dbo].[Measurement] CHECK CONSTRAINT [FK_Measurement_Fees]
GO
ALTER TABLE [dbo].[Measurement]  WITH CHECK ADD  CONSTRAINT [FK_Measurement_InquiryWorkscope] FOREIGN KEY([InquiryWorkscopeId])
REFERENCES [dbo].[InquiryWorkscope] ([InquiryWorkscopeId])
GO
ALTER TABLE [dbo].[Measurement] CHECK CONSTRAINT [FK_Measurement_InquiryWorkscope]
GO
ALTER TABLE [dbo].[Measurement]  WITH CHECK ADD  CONSTRAINT [FK_Measurement_KitchenDesignInfo] FOREIGN KEY([KitchenDesignInfoId])
REFERENCES [dbo].[KitchenDesignInfo] ([KDIId])
GO
ALTER TABLE [dbo].[Measurement] CHECK CONSTRAINT [FK_Measurement_KitchenDesignInfo]
GO
ALTER TABLE [dbo].[Measurement]  WITH CHECK ADD  CONSTRAINT [FK_Measurement_User] FOREIGN KEY([MeasurementTakenBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Measurement] CHECK CONSTRAINT [FK_Measurement_User]
GO
ALTER TABLE [dbo].[Measurement]  WITH CHECK ADD  CONSTRAINT [FK_Measurement_User1] FOREIGN KEY([MeasurementApprovedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Measurement] CHECK CONSTRAINT [FK_Measurement_User1]
GO
ALTER TABLE [dbo].[Measurement]  WITH CHECK ADD  CONSTRAINT [FK_Measurement_WardrobeDesignInformation] FOREIGN KEY([WardrobeDesignInfoId])
REFERENCES [dbo].[WardrobeDesignInformation] ([WDIId])
GO
ALTER TABLE [dbo].[Measurement] CHECK CONSTRAINT [FK_Measurement_WardrobeDesignInformation]
GO
ALTER TABLE [dbo].[MeasurementDetail]  WITH CHECK ADD  CONSTRAINT [FK_MeasurementDetail_Measurement] FOREIGN KEY([MeasurementId])
REFERENCES [dbo].[Measurement] ([MeasurementId])
GO
ALTER TABLE [dbo].[MeasurementDetail] CHECK CONSTRAINT [FK_MeasurementDetail_Measurement]
GO
ALTER TABLE [dbo].[MeasurementDetailInfo]  WITH CHECK ADD  CONSTRAINT [FK_MeasurementDetailInfo_MeasurementDetail] FOREIGN KEY([MeasurementDetailId])
REFERENCES [dbo].[MeasurementDetail] ([MeasurementDetailId])
GO
ALTER TABLE [dbo].[MeasurementDetailInfo] CHECK CONSTRAINT [FK_MeasurementDetailInfo_MeasurementDetail]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Branch]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_NotificationCategory] FOREIGN KEY([NotificationCategoryId])
REFERENCES [dbo].[NotificationCategory] ([NotificationCategoryId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_NotificationCategory]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_UserRole] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_UserRole]
GO
ALTER TABLE [dbo].[PermissionRole]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRole_BranchRole] FOREIGN KEY([BranchRoleId])
REFERENCES [dbo].[BranchRole] ([BranchRoleId])
GO
ALTER TABLE [dbo].[PermissionRole] CHECK CONSTRAINT [FK_PermissionRole_BranchRole]
GO
ALTER TABLE [dbo].[PermissionRole]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRole_Permission] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permission] ([PermissionId])
GO
ALTER TABLE [dbo].[PermissionRole] CHECK CONSTRAINT [FK_PermissionRole_Permission]
GO
ALTER TABLE [dbo].[PermissionRole]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRole_PermissionLevel] FOREIGN KEY([PermissionLevelId])
REFERENCES [dbo].[PermissionLevel] ([PermissionLevelId])
GO
ALTER TABLE [dbo].[PermissionRole] CHECK CONSTRAINT [FK_PermissionRole_PermissionLevel]
GO
ALTER TABLE [dbo].[RoleHead]  WITH CHECK ADD  CONSTRAINT [FK_RoleHead_BranchRole] FOREIGN KEY([EmployeeRoleId])
REFERENCES [dbo].[BranchRole] ([BranchRoleId])
GO
ALTER TABLE [dbo].[RoleHead] CHECK CONSTRAINT [FK_RoleHead_BranchRole]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_Role_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_Role_Branch]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_Role_BranchRole] FOREIGN KEY([BranchRoleId])
REFERENCES [dbo].[BranchRole] ([BranchRoleId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_Role_BranchRole]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
USE [master]
GO
