html {
	height: 100%;
	width: 100%;
}

body {
	-ms-overflow-style: none;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', serif;
	height: 100%;
	margin: 0;
	overflow: -moz-scrollbars-none;
	padding: 0;
	width: 100%;
}

      

.customSize1 {

	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: content-box;
	cursor: default;
	display: block;
	height: 576.00px;
	left: 0px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: auto;
	overflow-y: auto;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 736.00px;
}

.customSize1 .group3 {

	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: transparent;
	box-sizing: content-box;
	cursor: default;
	display: block;
	height: 576.00px;
	left: 0.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 736.00px;
}

.customSize1 .group3 .rectangle1532ccc04 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 1);
	border-bottom-color: rgba(229, 229, 229, 1);
	border-bottom-left-radius: 8.00px;
	border-bottom-right-radius: 8.00px;
	border-bottom-style: solid;
	border-bottom-width: 1.00px;
	border-left-color: rgba(229, 229, 229, 1);
	border-left-style: solid;
	border-left-width: 1.00px;
	border-right-color: rgba(229, 229, 229, 1);
	border-right-style: solid;
	border-right-width: 1.00px;
	border-top-color: rgba(229, 229, 229, 1);
	border-top-left-radius: 8.00px;
	border-top-right-radius: 8.00px;
	border-top-style: solid;
	border-top-width: 1.00px;
	box-shadow: none;
	box-sizing: border-box;
	cursor: default;
	height: 576.00px;
	left: 0.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 736.00px;
}

.customSize1 .group3 .rectangle2 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(116, 80, 67, 1);
	border-bottom-color: rgba(229, 229, 229, 1);
	border-bottom-left-radius: 0.00px;
	border-bottom-right-radius: 0.00px;
	border-bottom-style: none;
	border-bottom-width: 1.00px;
	border-left-color: rgba(229, 229, 229, 1);
	border-left-style: none;
	border-left-width: 1.00px;
	border-right-color: rgba(229, 229, 229, 1);
	border-right-style: none;
	border-right-width: 1.00px;
	border-top-color: rgba(229, 229, 229, 1);
	border-top-left-radius: 8.00px;
	border-top-right-radius: 8.00px;
	border-top-style: none;
	border-top-width: 1.00px;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	height: 107.00px;
	left: 0.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 736.00px;
}

.customSize1 .group3 .saiLogo {

	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: transparent;
	background-image: url("assets/saiLogo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: content-box;
	cursor: default;
	display: block;
	height: 49.94px;
	left: 480.05px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 29.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 217.78px;
}

.customSize1 .group3 .saiLogo .path114d8d750 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 49.94px;
	left: 0.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 36.25px;
}

.customSize1 .group3 .saiLogo .path2 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 48.59px;
	left: 34.90px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0.66px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 44.22px;
}

.customSize1 .group3 .saiLogo .rectangle1 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 1);
	border-bottom-color: rgba(112, 112, 112, 1);
	border-bottom-left-radius: 0.00px;
	border-bottom-right-radius: 0.00px;
	border-bottom-style: none;
	border-bottom-width: 1.00px;
	border-left-color: rgba(112, 112, 112, 1);
	border-left-style: none;
	border-left-width: 1.00px;
	border-right-color: rgba(112, 112, 112, 1);
	border-right-style: none;
	border-right-width: 1.00px;
	border-top-color: rgba(112, 112, 112, 1);
	border-top-left-radius: 0.00px;
	border-top-right-radius: 0.00px;
	border-top-style: none;
	border-top-width: 1.00px;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	height: 48.59px;
	left: 80.40px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0.66px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 8.56px;
}

.customSize1 .group3 .saiLogo .group2 {

	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: transparent;
	box-sizing: content-box;
	cursor: default;
	display: block;
	height: 46.23px;
	left: 97.35px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 1.80px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 120.43px;
}

.customSize1 .group3 .saiLogo .group2 .group1 {

	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: transparent;
	box-sizing: content-box;
	cursor: default;
	display: block;
	height: 46.23px;
	left: 0.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 120.43px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path3 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 19.96px;
	left: 1.91px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 1.42px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 14.00px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path4 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 21.38px;
	left: 18.37px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: -0.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 0.73px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path5 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 19.06px;
	left: 20.90px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 2.56px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 7.31px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path6 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.42px;
	left: 29.39px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 6.20px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 11.44px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path7 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 21.35px;
	left: 43.53px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: -0.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 10.71px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path8 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.35px;
	left: 56.59px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 6.31px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 11.85px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path9 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.11px;
	left: 70.73px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 6.27px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 10.74px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path10 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 20.41px;
	left: 89.76px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 1.11px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 14.73px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path11 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 19.93px;
	left: 0.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 25.99px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 23.70px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path12 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.39px;
	left: 24.22px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 30.81px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 11.54px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path13 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.04px;
	left: 39.02px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 30.88px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 6.62px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path14 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 21.66px;
	left: 46.26px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 24.57px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 11.37px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path15 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.04px;
	left: 61.20px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 30.88px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 6.62px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path16 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.42px;
	left: 67.89px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 30.81px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 13.00px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path17 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 21.62px;
	left: 83.28px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 24.57px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 11.37px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path18 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.35px;
	left: 96.41px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 30.88px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 11.85px;
}

.customSize1 .group3 .saiLogo .group2 .group1 .path19 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(255, 255, 255, 1);
	height: 15.35px;
	left: 109.78px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 30.81px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 10.65px;
}

.customSize1 .group3 .saiLogo .path20 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(241, 88, 62, 1);
	height: 0.00px;
	left: 77.77px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 37.57px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 0.00px;
}

.customSize1 .group3 .saiLogo .path21 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: rgba(241, 88, 62, 1);
	height: 36.91px;
	left: 63.73px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 0.66px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 14.04px;
}

.customSize1 .group3 .thanksForGeneratingInquiryFromSaiKitchenWardrobes {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(28, 28, 28, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 22.00px;
	font-style: normal;
	font-weight: 500;
	height: 31.00px;
	left: 48.00px;
	letter-spacing: -0.53px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 144.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 640.00px;
}

.customSize1 .group3 .rectangle3 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(241, 88, 62, 1);
	border-bottom-color: rgba(112, 112, 112, 1);
	border-bottom-left-radius: 8.00px;
	border-bottom-right-radius: 8.00px;
	border-bottom-style: none;
	border-bottom-width: 1.00px;
	border-left-color: rgba(112, 112, 112, 1);
	border-left-style: none;
	border-left-width: 1.00px;
	border-right-color: rgba(112, 112, 112, 1);
	border-right-style: none;
	border-right-width: 1.00px;
	border-top-color: rgba(112, 112, 112, 1);
	border-top-left-radius: 8.00px;
	border-top-right-radius: 8.00px;
	border-top-style: none;
	border-top-width: 1.00px;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	height: 50.00px;
	left: 38.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 0.04873650148510933;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 250.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 661.00px;
}

.customSize1 .group3 .rectangle4 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(241, 88, 62, 1);
	border-bottom-color: rgba(112, 112, 112, 1);
	border-bottom-left-radius: 8.00px;
	border-bottom-right-radius: 8.00px;
	border-bottom-style: none;
	border-bottom-width: 1.00px;
	border-left-color: rgba(112, 112, 112, 1);
	border-left-style: none;
	border-left-width: 1.00px;
	border-right-color: rgba(112, 112, 112, 1);
	border-right-style: none;
	border-right-width: 1.00px;
	border-top-color: rgba(112, 112, 112, 1);
	border-top-left-radius: 8.00px;
	border-top-right-radius: 8.00px;
	border-top-style: none;
	border-top-width: 1.00px;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	height: 50.00px;
	left: 38.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 0.04873650148510933;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 308.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 661.00px;
}

.customSize1 .group3 .rectangle5 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(241, 88, 62, 1);
	border-bottom-color: rgba(112, 112, 112, 1);
	border-bottom-left-radius: 8.00px;
	border-bottom-right-radius: 8.00px;
	border-bottom-style: none;
	border-bottom-width: 1.00px;
	border-left-color: rgba(112, 112, 112, 1);
	border-left-style: none;
	border-left-width: 1.00px;
	border-right-color: rgba(112, 112, 112, 1);
	border-right-style: none;
	border-right-width: 1.00px;
	border-top-color: rgba(112, 112, 112, 1);
	border-top-left-radius: 8.00px;
	border-top-right-radius: 8.00px;
	border-top-style: none;
	border-top-width: 1.00px;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	height: 50.00px;
	left: 38.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 0.04873650148510933;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 366.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 661.00px;
}

.customSize1 .group3 .rectangle6 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(241, 88, 62, 1);
	border-bottom-color: rgba(112, 112, 112, 1);
	border-bottom-left-radius: 8.00px;
	border-bottom-right-radius: 8.00px;
	border-bottom-style: none;
	border-bottom-width: 1.00px;
	border-left-color: rgba(112, 112, 112, 1);
	border-left-style: none;
	border-left-width: 1.00px;
	border-right-color: rgba(112, 112, 112, 1);
	border-right-style: none;
	border-right-width: 1.00px;
	border-top-color: rgba(112, 112, 112, 1);
	border-top-left-radius: 8.00px;
	border-top-right-radius: 8.00px;
	border-top-style: none;
	border-top-width: 1.00px;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	height: 50.00px;
	left: 38.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 0.04873650148510933;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 424.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 661.00px;
}

.customSize1 .group3 .rectangle7 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(241, 88, 62, 1);
	border-bottom-color: rgba(112, 112, 112, 1);
	border-bottom-left-radius: 8.00px;
	border-bottom-right-radius: 8.00px;
	border-bottom-style: none;
	border-bottom-width: 1.00px;
	border-left-color: rgba(112, 112, 112, 1);
	border-left-style: none;
	border-left-width: 1.00px;
	border-right-color: rgba(112, 112, 112, 1);
	border-right-style: none;
	border-right-width: 1.00px;
	border-top-color: rgba(112, 112, 112, 1);
	border-top-left-radius: 8.00px;
	border-top-right-radius: 8.00px;
	border-top-style: none;
	border-top-width: 1.00px;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	height: 50.00px;
	left: 38.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 0.04873650148510933;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	top: 482.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 661.00px;
}

.customSize1 .group3 .inquiryDetails {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 27.00px;
	font-style: normal;
	font-weight: 700;
	height: 37.00px;
	left: 38.00px;
	letter-spacing: -0.65px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 35.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 188.00px;
}

.customSize1 .group3 .inquiryCode {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(111, 111, 111, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 400;
	height: 25.00px;
	left: 59.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 262.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 110.00px;
}

.customSize1 .group3 .in110262100 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(28, 28, 28, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 700;
	height: 25.00px;
	left: 388.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 262.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 101.00px;
}

.customSize1 .group3 .measurementdrawingSchedule {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(111, 111, 111, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 400;
	height: 25.00px;
	left: 59.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 320.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 285.00px;
}

.customSize1 .group3 .x07232021903Am {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(28, 28, 28, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 700;
	height: 25.00px;
	left: 388.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 320.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 174.00px;
}

.customSize1 .group3 .measurementAssignTo {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(111, 111, 111, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 400;
	height: 25.00px;
	left: 59.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 377.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 207.00px;
}

.customSize1 .group3 .ceo {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(28, 28, 28, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 700;
	height: 25.00px;
	left: 388.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 377.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 37.00px;
}

.customSize1 .group3 .contactNumber {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(111, 111, 111, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 400;
	height: 25.00px;
	left: 59.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 436.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 145.00px;
}

.customSize1 .group3 .x0555598849 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(28, 28, 28, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 700;
	height: 25.00px;
	left: 388.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 436.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 112.00px;
}

.customSize1 .group3 .buildingAddress {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(111, 111, 111, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 400;
	height: 25.00px;
	left: 59.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 493.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 143.00px;
}

.customSize1 .group3 .villa50Jumeirah3Dubai {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	box-sizing: content-box;
	color: rgba(28, 28, 28, 1);
	cursor: default;
	font-family: Poppins, Arial;
	font-size: 18.00px;
	font-style: normal;
	font-weight: 700;
	height: 25.00px;
	left: 388.00px;
	letter-spacing: -0.43px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	overflow-x: unset;
	overflow-y: unset;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 493.00px;
	transform: rotate(0.00deg);
	transform-origin: center;
	white-space: pre;
	width: 224.00px;
}

.customSize1 .group3 .path1 {
	-ms-transform: rotate(0.00deg);
	-ms-transform-origin: center;
	-webkit-transform: rotate(0.00deg);
	-webkit-transform-origin: center;
	box-shadow: none;
	box-sizing: content-box;
	cursor: default;
	fill: transparent;
	height: 2.00px;
	left: 37.00px;
	margin-bottom: 0.00px;
	margin-left: 0.00px;
	margin-right: 0.00px;
	margin-top: 0.00px;
	opacity: 1;
	padding-bottom: 0.00px;
	padding-left: 0.00px;
	padding-right: 0.00px;
	padding-top: 0.00px;
	position: absolute;
	stroke: rgba(237, 235, 235, 1);
	stroke-linecap: butt;
	stroke-width: 1.00px;
	top: 208.57px;
	transform: rotate(0.00deg);
	transform-origin: center;
	width: 661.83px;
}